*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{
    background: #1D1D1E;
    color: white;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.metabnb-footer{
    width: 230px;
    height: 40px;
    margin-bottom: 3.5rem;
}
.footer-socials{
    margin-bottom: 40px;
}
.facebok-icon,.instagram-icon,.twitter-icon{
    margin-left: 50px;
}
.footer ul {
    list-style: none;
    line-height: 40px;
}
.footer li{
    font-size: 14px;
}
li:first-child{
    font-weight: 700;
    font-size: 18px;
}

/* STYLE FOR SCREEN SIZES */
@media screen and (max-width:600px) {
    .footer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .metabnb-footer{
        margin-bottom: 1.5rem;
    }
    .footer-socials{
        margin-bottom: 1.5rem;
    }
    .facebok-icon,.instagram-icon,.twitter-icon{
        margin-left: 50px;
    }

    .footer-links-itemized{
        display: flex;
        flex-direction: column;
    }
    .footer ul {
        line-height: 30px;
    }
    li:first-child{
        margin-top: 20px;
    }
}

