
*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAVBAR */
.navbar{
    height: 108px;
    width: 100%;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    /* position: fixed;
    top: 0px; */
    box-shadow: 0 0 15px grey;
  }
  .metabnb-logo{
    max-width: 230px;
    max-height: 36px;
  }
  .links-container{
    margin-left: 30px;
  }
  .nav-links{
    list-style: none;
    display: inline-flex;
    margin-right: 50px;
    font-size: 20px;
  }
  .nav-links a{
    text-decoration: none;
    color: black;
  }
  .nav-links a:hover{
    color: #A02279;
  }
  button.connect-wallet{
    width: 170px;
    height: 40%;
    border-radius: 8px;
    color: white;
    border: 1px solid #A02279;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  }
  .connect-wallet:hover{
    border: 2px solid blueviolet;
    cursor: pointer;
    box-shadow: 0 0 15px #A02279;
  }
 

  /* MOBILE SCREEN SIZES */
  @media screen and (max-width:650px) {
    .metabnb-logo{
      max-width: 190px;
    }
    .navbar{
      height: 208px;
    }
    button.connect-wallet{
      width: 170px;
      height: 20%;
    }
  }

  @media screen and (max-width:580px) {
    .metabnb-logo{
      max-width: 240px;
    }
    .navbar{
      height: 208px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 15px;
    }
    .links-container{
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-wrap: wrap; 
    }
  }