@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  width: 100%;
  height: 100vh;
  margin: auto;
  font-family: "Red Rose", sans-serif;
  /* position: relative; */
}

/* HOME PAGE */
.main{
  width: 100%;
}
.section-1{
  display: flex;
  margin: auto;
  margin-top: 160px;
  margin-bottom: 100px;
  padding-left: 30px;
  padding-right: 30px;
}
.image-group-1{
  width: 476px;
  height: 100%;
  padding-left: 60px;
}
/* .section-1-content{
  width: 640px;
} */
.section-1 h2{
  font-size: 56px;
  line-height: 78px;
}
.section-1 p{
  font-size: 24px;
  line-height: 35px;
  font-weight: 400;
  margin-top: 1.6rem;
}
.section-1 span{
  color: #A02279;
}
.search-container{
  display: flex;
  height: 54px;
  margin-top: 3rem;
}
.search-location{
  width: 390px;
  height: 100%;
  border: 1px solid grey;
  font-size: 20px;
  border-radius: 8px 0 0 8px;
  font-family: "Red Rose", sans-serif;
}
.search-location:hover{
  border: 2px solid blueviolet;
  color: black;
  cursor: pointer;
  box-shadow: 0 0 15px #A02279; 
}
/* .search-location::placeholder{
 dhdg
} */
.search-btn{
  width: 30%;
  height: 100%;
  border: 1px solid #A02279;
  font-size: 20px;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  color: white;
  font-family: "Red Rose", sans-serif;
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
}
.search-btn:hover{
  border: 2px solid blueviolet;
  color: black;
  cursor: pointer;
  box-shadow: 0 0 15px #A02279; 
}
.official-logos{
  display: flex;
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  justify-content: space-evenly;
}
.mbtoken-logo, .metamask-logo, .opensea-logo{
  width: 222px;
  height: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.section-2{
  padding: 30px 0 50px 0 ;
  /* margin: auto; */
  /* padding: 0 30px 0 30px; */
  /* display: flex;
  flex-direction: column; */
}
.section-2 h2{
  font-size: 59px;
  font-weight: 700;
  text-align: center;
  margin: 20px 0 50px 0;
}
.cards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.card--meta{
  width: 290px;
  height: 370px;
  border: 1px solid grey;
  border-radius: 13px;
  padding: 15px;
}
.image--meta{
  max-width: 260px;
  max-height: 265px;
}
.card--details p{
  font-size: 12px;
  line-height: 20px;
}
.bold{
  font-weight: 700;
}
.card-info--duration, .card-dist--avail{
  display: flex;
  justify-content: space-between;
}
.card-star--rating{
  margin-top: 10px;
}

.section-3{
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.5rem;
  margin: 0 auto;
}
.section-3-content{
  color: white;
  line-height: 60px;
}
.section-3-content h3{
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
}
.section-3 p{
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
  margin-bottom: 40px;
  max-width: 400px;
}
.section-3 .image-group-2{
  width: 694px;
  height: 574px;
}
button.learn-more{
  border-radius: 12px;
  width: 156px;
  height: 48px;
  font-size: 1rem;
  color: #A02279;
  font-family: "Red Rose", sans-serif;
  border: 1px solid #A02279;
  cursor: pointer;
}

/* PLACE-TO-STAY PAGE */
.place-to-stay{
  margin-top: 50px;
  margin-bottom: 50px;
}
.location-btn{
  width: 161px;
  height: 48px;
  background: white;
  border: 1px solid  #F5F5F5;
  border-radius: 9px;
}



/* STYLE FOR SCREEN SIZES */
@media screen and (max-width:1024px) {
  .section-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  .image-group-1{
    margin-top: 30px;
  }
  .search-btn{
    width: 30%;
  }
  .mbtoken-logo, .metamask-logo, .opensea-logo{
    width: 122px;
    height: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .section-2 h2{
    font-size: 40px;
  }
  .section-3 .image-group-2{
    width: 424px;
    height: 374px;
  }

}

@media screen and (max-width:768px) {
  .section-1{margin-top: 60px;}
  .search-container{
    width: 100%;
  }
  .search-location{
    width: 70%;
  }
  .section-3{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

@media screen and (max-width:480px) {
  .section-1 h2{
    font-size: 36px;
    line-height: 48px;
  }
  .section-1 p{
    font-size: 18px;
    line-height: 25px;
  }
  .section-1 .image-group-1{
    width: 300px;
    padding-left: 20px;
  }
  .section-2 h2{
    font-size: 30px;
  }

  .section-3-content{
    line-height: 30px;
  }
  .section-3-content h3{
    font-size: 38px;
    margin-bottom: 20px;
  }
  .section-3 p{
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 20px;
  }
  .section-3 .learn-more{
    width: 106px;
    height: 38px; 
    font-size: 12px; 
  }
  .section-3 .image-group-2{
    width: 324px;
    height: 274px;
  }
}
